__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
*.sqlite3
*.db
*.egg
*.egg-info
dist/
build/
eggs/
parts/
bin/
var/
sdist/
wheels/
.mypy_cache/
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
*.swp
.idea/
.vscode/
.ipynb_checkpoints/
docs/_build/
site/
.venv
_site/
/.quarto/
